<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Sound Box</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="static/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="static/css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="static/css/style.css"/>


</head>
<body>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index" class="site-logo">
			<img src="static/img/logo.png" alt="">
		</a>
		<div class="header-right">
			<a href="#" class="hr-btn">Help</a>
			<span>|</span>
			<div class="user-panel">
				<a href="signin" class="login">Login</a>
				<a href="signup" class="register">Create an account</a>
			</div> 
		</div>
		<ul class="main-menu">
			<li><a href="index">Home</a></li>
			<li><a href="forum">Forum</a></li>
			<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="category">Category</a></li>
					<li><a href="playlist">Playlist</a></li>
					<li><a href="artist">Artist</a></li>
					<li><a href="blog">Blog</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</li>
			<li><a href="blog">News</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->

	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<!-- Blog post -->
			<div class="blog-item">
				<img src="static/img/blog/1.jpg" alt="">
				<div class="blog-date">April 14, 2019</div>
				<h3>Top 10 best songs in April</h3>
				<div class="blog-meta">by <a href="">Niv Caspi</a> in <a href="">Music</a></div>
				<p>Songs with a person's name in the title are quite common, but for this list we're only ranking the best songs about people named April, as well as songs about the month of April. Do you have a favorite April song? We want you to vote for your favorite songs about April, whether it's a country song about someone named April, an April rock song, a seasonal April song with lyrics about rain and spring, or anything in between.

This compilation of the top April-themed songs featured below includes "April Come She Will" by Simon and Garfunkel, "April 29, 1992" by Sublime, and the classic love song "April in Paris" by Louis Armstrong. Vote up your favorite songs about April, and vote down the ones that don't deserve GOAT status.  </p>
			</div>
			<!-- Blog post -->
			<div class="blog-item">
				<img src="static/img/blog/2.jpg" alt="">
				<div class="blog-date">April 14, 2019</div>
				<h3>Summer Festivals that you cannot miss</h3>
				<div class="blog-meta">by <a href="">Niv Caspi</a> in <a href="">Music</a></div>
				<p>While sometimes it can be nice to plan a getaway during the off-season to avoid crowds, there is something quite magical about venturing to a city when you know you’re in for a busy experience.

That busy experience we are talking about is a festival.

There’s nothing quite like a festival. Whether it be food, music, book, or one of the many, many other types, when you head to a festival, you know you are in for a treat and an experience you’re guaranteed to remember. </p>
			</div>
			<!-- Blog post -->
			<div class="blog-item">
				<img src="static/img/blog/3.jpg" alt="">
				<div class="blog-date">April 14, 2019</div>
				<h3>Michael Smith latest album is out now</h3>
				<div class="blog-meta">by <a href="">Niv Caspi</a> in <a href="">Music</a></div>
				<p>NEXTPREVIOUS
NEW ALBUM ANNOUNCED!
By MichaelWSmith.com    |    News    |    Comments are Closed    |    1 February, 2019    |    19 
Inspired by his live worship album Surrounded, Michael W. Smith hosted “A Night to Pray, Worship and Be Awakened” at Bridgestone Arena in Nashville, TN last August. The energy, passion and unity of the event is captured as it happened on AWAKEN: The Surrounded Experience releasing Feb. 22 from Rocketown Records and The Fuel Music. The album features the multi-Platinum, three-time GRAMMY® Award-winning artist along with special guest CeCe Winans and the voices of 14,000 people that attended the evening.

“The night was beautiful. I remember thinking, ‘This is what Heaven will look like.’ A picture of unity, with all colors, ethnicities, denominations and ages joined together in worship,” shares Smith in a Parade Magazine exclusive. “I’m still hearing reports of lives changed, commitments deepened and people empowered in a new way. We may each have different stories, skin and songs, but we all share His same Spirit.”
 </p>
			</div>
			<div class="site-pagination">
				<a href="#" class="active">01.</a>
				<a href="#">02.</a>
				<a href="#">03.</a>
				<a href="#">04.</a>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 order-lg-2">
					<div class="row">
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>About us</h2>
								<ul>
									<li><a href="">Our Story</a></li>
									<li><a href="">Sol Music Blog</a></li>
									<li><a href="">History</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Products</h2>
								<ul>
									<li><a href="">Music</a></li>
									<li><a href="">Subscription</a></li>
									<li><a href="">Custom Music</a></li>
									<li><a href="">Footage</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Playlists</h2>
								<ul>
									<li><a href="">Newsletter</a></li>
									<li><a href="">Careers</a></li>
									<li><a href="">Press</a></li>
									<li><a href="">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="static/img/logo.png" alt="">
					
					<div class="social-links">
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="static/js/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/mixitup.min.js"></script>
	<script src="static/js/main.js"></script>

	</body>
</html>
